@import "tailwindcss";
@keyframes rainbow {
  0% { color: red; }
  25% { color: blue; }
  50% { color: green; }
  75% { color: orange; }
  100% { color: red; }
}

.animated-text {
  font-size: 2rem;
  font-weight: bold;
  animation: rainbow 3s infinite;
}